
section{
    padding: 3rem 0;
}
.img1{
    width: 10%;


}
.sec-jmb{
   margin-top:7rem;


}
.m-lf{
    margin-left:84rem;
} 
.fixd
{
    position: fixed;
    top: 0%;
    z-index: 1;
    right: 0%;
    left: 0%;
}

.bckg-img{
     width: 100%;
    background-image: url(../img/jumbo-bg.png);
   background-size: cover;
}
.padd-top{
    padding-top:200px;
}
.padd-top2{
    padding-top:50px;
    text-align: center;
}
.line-hvr :hover{
    border-bottom: 2px solid blue;
}

.bckg-img2{
    width: 100%;
   background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
}
.padd-btm{
    margin: -3rem 0;
}
.ps-now-clr{
    background-color: #161c3b;
}
.ps-plus-clr{
    background-color: #bebcbb;
}
.blue-clr{
    background-color:#00439C;
}

.ul-ftr
{
    list-style: none;
}
.img-ftr {
    width:40%
}